<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://upcdn.morfans.cn/ipa/WeChat_8.0.44_1702019318.ipa</string><!--修改这里-->
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>url</key>
                        <string>https://termtools.apppro.dev/ios-img/wechat57.png</string><!--修改这里-->
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>url</key>
                        <string>https://termtools.apppro.dev/ios-img/wechat512.png</string><!--修改这里-->
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>cn.morfans.wechat</string><!--修改这里-->
                     <key>bundle-version</key>
                    <string>8.0.44</string><!--修改这里-->
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>WeChat</string><!--修改这里-->
                </dict>
            </dict>
        </array>
    </dict>
</plist>